<div style="margin: 20px">
<%= button_to_function "Submit", submit_grid_javascript(@tasks_grid) %>
<%= button_to_function "Reset",  reset_grid_javascript(@tasks_grid) %>
</div>

<%= grid(@tasks_grid, :show_filters => :always, :hide_submit_button => true, :hide_reset_button => true) do |g|

  g.column :column_name => 'ID', :attribute_name => 'id', :no_filter => true

  g.column :column_name => 'Title', :attribute_name => 'title'


  g.column :column_name => 'Priority', :attribute_name => 'priority_id', 
    :custom_filter => [['NOT DEFINED', 'null'], ['DEFINED', 'not null']] + Priority.to_dropdown do |task|
    task.priority.name if task.priority
  end


  g.column   do |task|
    link_to('Edit', edit_task_path(task))
  end
end -%>