<div style="margin: 20px">
<%= button_to_function "Export To CSV (custom CSV export button)", export_to_csv_javascript(@tasks_grid) %>
</div>

<%= grid(@projects_grid, :show_filters => :always, :hide_csv_button => true) do |g|

  g.column :column_name => 'ID', :attribute_name => 'id', :no_filter => true

  g.column :column_name => 'Project Name', :attribute_name => 'name'
  

  g.column  :column_name => 'Customer company', :model_class => 'Company', :attribute_name => 'name' do |task|
    task.customer.name if task.customer
  end

  g.column  :column_name => 'Supplier company', 
            :model_class => 'Company', :attribute_name => 'name', :table_alias => 'suppliers_projects' do |task|
    task.supplier.name if task.supplier
  end

end -%>
