*{
  padding:0;
  margin:0;
}
img {
  border: none;
}

html {
  margin:0;
  padding:0;
  color:#000;
  background:#ffffff;
  font-family: "Lucida Grande", "Helvetica", "Arial", sans-serif; font-size: 12px; background-color: #fff; 
}

ul, ol {
  list-style-position: inside; 
}

li{
  padding-bottom: 5px;
}

td {
  padding: 0 1em;
}

h1{
  padding-bottom: 10px;
}

#sidebar {
  float: left;
  width: 15%;
  margin: 20px;
}

#main {
  float: left;  
  padding-top: 10px;
  padding-bottom: 50px;
  width: 80%;
}


#sidebar  ul{
  list-style-type: none;
  padding-left: 0px;  
}

#sidebar  ul li{
  margin-bottom: 10px;
}

#controller-code, #view-code {
  margin-top: 10px;
  width: 500px;
}

p {
  margin-bottom: 10px;
}
.wice_grid_container{
  padding-bottom: 30px;
}

.filename{
  font-family: monospace, Terminal, monospace;
  font-size: 10px;
}

.page-description {
  margin-bottom: 20px;
  margin-top: 20px;
}

table.form td {
  height: 2.5em;
  padding: 0 1em;
}

table.form {
  padding-bottom: 20px;
}

/*    CodeRay */
.CodeRay {
  background-color: #f8f8f8;
  border: 1px solid silver;
  font-family: 'Courier New', 'Terminal', monospace;
  color: #100;
  margin-bottom: 1em;

}
.CodeRay pre { margin: 0px; font-size: 12px }

table.CodeRay { border-collapse: collapse; width: 100%; padding: 2px }
table.CodeRay td { padding: 2px 4px; vertical-align: top }

.CodeRay .line_numbers, .CodeRay .no {
  background-color: #eaeaea;
  color: gray;
  text-align: right;
}
